# Linux noise
*~

.netrwhist

# 
oh-my-zsh/cache/

# Irssi, only track the example file
irssi/config

# clang_complete binaries
vim/vim/.VimballRecord
vim/vim/bin/
vim/vim/doc/
vim/vim/plugin/

xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xmonad-x86_64-linux
