snippet func "Create function"
def $1($2):
	${0:${VISUAL}}
endsnippet

snippet ifm "Creates if __name__ == __main__"

def main():
	${0}

if __name__ == '__main__':
	main()

endsnippet

snippet parser "Creates argparse code"

parser = argparse.ArgumentParser()
parser.add_argument('$1', help='$2')
$3import argparse
args = parser.parse_args()

endsnippet
